# Ignore these original NVIDIA directories
android/
arch/
block/
certs/
COPYING
CREDITS
crypto/
Documentation/
drivers/
firmware/
fs/
.get_maintainer.ignore
include/
init/
ipc/
Kbuild
Kconfig
kernel/
lib/
MAINTAINERS
Makefile
.mailmap
mm/
net/
NVIDIA-README
NVIDIA-REVIEWERS
REPORTING-BUGS
rt-patches/
samples/
scripts/
security/
sound/
tools/
usr/
virt/

# Add these files...
!.gitignore
!.gitmodules
!.mailmap
!.cocciconfig.
