# List directories in the nvidia sources
android/
arch/
block/
certs/
COPYING
CREDITS
crypto/
Documentation/
drivers/
firmware/
fs/
.get_maintainer.ignore
include/
init/
ipc/
Kbuild
Kconfig
kernel/
lib/
.mailmap
MAINTAINERS
Makefile
mm/
net/
NVIDIA-REVIEWERS
NVIDIA-README
REPORTING-BUGS
rt-patches/
samples/
scripts/
security/
sound/
tools/
usr/
virt/

# git files that we don't want to ignore even if they are dot-files
!.gitignore
!.gitmodules
